.to_do-list_button {
  margin: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.to_do-list_button button:nth-of-type(2) {
  background-color: white;
  border: 1px solid red;
  color: red;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
